body {
	font: 'Raleway', sans-serif;
    color: rgb(250, 235, 235);
    text-shadow: #000000 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to left, #0e2d83 , rgb(22, 84, 165)); /* Standard syntax */
}

#gradient div {
    background-color: rgba(0, 0, 0, 0.76);
    border: 2px white ;
    border-radius: 6px;
    padding: 2rem;
    width: 40%;
    margin: auto;
}

#gradient div h3 {
	color: white;
    font: 900 1em 'Raleway', sans-serif;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

#gradient input {
    padding: 6px 7px 6px 7px;
    width: 3rem;
    height: 2rem;
    margin: 1rem;
}